.centered
{
    text-align: center;
}

.get-started-button
{
    text-align: center;
    min-width: 50%;
}

.home-page-title
{
    font-size: 60px;
    font-weight: bold;
}

.spinning-globe-gif
{
    border-style: outset;
    border-width: 8px;
}

p
{
    font-size: 20px;
}